@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@layer base {
  html {
    font-family: 'Darker Grotesque';
  }
}

h1 {
  font-weight: 500;
}

p,
li {
  font-weight: 400;
}
